[run]
omit =
    ./*/apps.py
    ./*/admin.py
    ./*/urls.py
    ./*/__init__.py
    ./*/models.py
    ./*/migrations/*.py
    ./conf/settings.py
    ./static/management/*
    *test*
    .venv/*
branch = True
