[run]
omit =
    ./*/apps.py
    ./*/admin.py
    ./*/urls.py
    ./*/__init__.py
    ./*/models.py
    ./*/migrations/*
    ./api/conf/settings.py
    ./api/conf/wsgi.py
    ./static/management/*
    *test*
    .venv/*
    separatedvaluesfield/*
    ./pii-secret-exclude.txt
    ./api/staticdata/management/*
    ./runtime.txt
    ./lite_routing/management/commands/generate_rules_docs.py

branch = True

plugins =
    django_coverage_plugin
