[submodule "lite-content"]
	path = lite_content
	url = git@github.com:uktrade/lite-content.git
	branch = master
[submodule "lite_routing"]
	path = lite_routing
	url = git@github.com:uktrade/lite-routing.git
	branch = main
[submodule "django_db_anonymiser"]
	path = django_db_anonymiser
	url = git@github.com:uktrade/django-db-anonymiser.git
