version: '3.4'

services:
  api:
    env_file:
      - .env
    depends_on:
      - db
      - elasticsearch
      - redis
      - celery
    build:
      context: .
      dockerfile: Dockerfile.e2e
    volumes:
      - .:/app
    ports:
      - 8100:8100
    expose:
      - 8100
    command: /app/start-e2e.sh
    entrypoint: dockerize -wait tcp://db:5432
    stdin_open: true
    tty: true

  celery:
    build: .
    volumes:
      - .:/app
    env_file: .env
    links:
      - db
      - redis
    depends_on:
      - api
      - db
      - elasticsearch
      - redis
    entrypoint: dockerize -wait tcp://db:5432 -wait tcp://api:8100
    command: celery -A api.conf worker -l info

  db:
    image: gcr.io/sre-docker-registry/lite-db:latest
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=lite-api
    expose:
      - 5432
    ports:
      - 5462:5432

  # Elasticsearch Docker Images: https://www.docker.elastic.co/
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.9.3
    container_name: elasticsearch
    environment:
      - xpack.security.enabled=false
      - xpack.ml.enabled=false
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms128m -Xmx1g
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    cap_add:
      - IPC_LOCK
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
      - 9300:9300

  redis:
    image: "redis:5-alpine"
    container_name: redis
    expose:
      - 6379
    ports:
      - 6379:6379

volumes:
  elasticsearch-data:
    driver: local
