[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
parameterized = "==0.7.0"
black = "==19.10b0"

[packages]
Django = "==2.2.4"
django-environ = "==0.4.5"
django-reversion = "==3.0.3"
djangorestframework = "==3.9.2"
django-sass-processor = "==0.7.2"
psycopg2 = "==2.8.2"
python-json-logger = "==0.1.11"
parameterized = "*"
drf-yasg = "*"
prospector = "==1.1.6.2"
boto3 = ">=1.9"
django-pglocks = ">=1.0.2"
requests-toolbelt = "*"
django-background-tasks = ">=1.2"
packaging = "==19.0"
coverage = ">=4.5.4"
openpyxl = "*"
pre-commit = "*"
django-sortedm2m = "*"
bandit = "*"
tblib = "*"
weasyprint = "*"
Markdown = "*"
unittest-xml-reporting = "*"

[requires]
python_version = "3.7"
