[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
bandit = "~=1.6"
coverage = "~=5.0"
parameterized = "~=0.7"
prospector = "~=1.2"
unittest-xml-reporting = "~=2.5"

[packages]
boto3 = "~=1.11"
Django = "~=2.2"
django-activity-stream = "~=0.8"
django-background-tasks = "~=1.2"
django-environ = "~=0.4"
django-jsonfield = "~=1.4"
django-model-utils = "~=4.0"
django-pglocks = "~=1.0"
djangorestframework = "~=3.9"
django-sortedm2m = "~=3.0"
drf-yasg = "~=1.17"
markdown = "~=3.1"
openpyxl = "~=3.0"
packaging = "~=19.0"
psycopg2 = "~=2.8"
python-json-logger = "~=0.1"
requests-toolbelt = "~=0.9"
tblib = "~=1.6"
weasyprint = "~=51.0"

[requires]
python_version = "3.7"
