[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "~=24.3.0"
bandit = "==1.6.2"
coverage = "~=5.0"
parameterized = "~=0.7"
prospector = "~=1.2.0"
django-coverage-plugin = "~=3.1.0"
pytest-cov = "~=2.10.0"
requests-mock = "~=1.8"
freezegun = "~=1.0.0"
pytest = "*"
pytest-django = "*"
pytest-bdd = "*"
ipdb = "*"
watchdog = {extras = ["watchmedo"], version = "*"}
diff-pdf-visually = "~=1.7.0"
pytest-circleci-parallelized = "~=0.1.0"
moto = {extras = ["s3"], version = "==5.0.3"}

[packages]
factory-boy = "~=2.12.0"
unittest-xml-reporting = "~=2.5.2"
faker = "~=23.2.1"
boto3 = "~=1.26.17"
django-activity-stream = "~=0.10.0"
django-allow-cidr = "~=0.5.0"
django-elasticsearch-dsl = "~=7.2.2"
django-elasticsearch-dsl-drf = "~=0.22.5"
django-environ = "~=0.9.0"
django-health-check = "~=3.18.1"
django-model-utils = "~=4.3.1"
django-sortedm2m = "~=3.1.1"
django-staff-sso-client = "~=4.2.1"
djangorestframework = "~=3.15.2"
elasticsearch = "<7.14.0"
markdown = "~=3.4.1"
mohawk = "~=1.1.0"
openpyxl = "==3.0.6"
requests-toolbelt = "~=0.10.1"
tblib = "~=1.7.0"
weasyprint = "==52.5"
defusedxml = "~=0.6.0"
xmlschema = "~=1.2.0"
notifications-python-client = "~=5.7.1"
dataclasses = "~=0.6"
# endesive = "~=1.5.9" (not included here as installed in a later jenkins step. Uncomment if working locally)
pypdf2 = "~=1.27.5"
cryptography = "~=43.0.1"
sentry-sdk = "~=2.8.0"
elastic-apm = "~=6.7.2"
gunicorn = "~=22.0.0"
gevent = "~=23.9.1"
xmltodict = "~=0.12.0"
Pillow = "~=10.3.0"
django-phonenumber-field = "==6.4.0"
phonenumbers = "~=8.13.1"
django-log-formatter-ecs = "==0.0.5"
whitenoise = "~=5.3.0"
django-audit-log-middleware = "~=0.0.4"
django-extensions = "~=3.2.3"
ipython = "~=7.34.0"
celery = "~=5.3.0"
redis = "~=4.4.4"
django-test-migrations = "~=1.2.0"
django-silk = "~=5.0.3"
django = "~=4.2.15"
django-queryable-properties = "~=1.9.1"
database-sanitizer = ">=1.1.0"
django-reversion = ">=5.0.12"
psycopg = "~=3.1.18"
django-log-formatter-asim = "~=0.0.5"
dbt-copilot-python = "~=0.2.1"
dj-database-url = "~=2.2.0"
djangorestframework-csv = "~=3.0.2"
certifi = "~=2024.7.4"
pytz = "~=2024.1"

[requires]
python_version = "3.9"
python_full_version = "3.9.18"
