<div class="document">
	<b>OFFICIAL-SENSITIVE</b>
	<table class="govuk-table">
			<tr class="govuk-table__row">
				<th scope="row" class="govuk-table__header">
					ECJU reference
				</th>
				<td class="govuk-table__cell">
					{{ case_reference }}
				</td>
			<tr>
			<th scope="row" class="govuk-table__header">
				{% if case_type.reference == 'cre' %}
					Query
				{% else %}
					Licence
				{% endif %}
			</th>
			<td class="govuk-table__cell">
				{% if case_type.reference == "siel" %}
					Standard Individual Export Licence
				{% elif case_type.reference == "oiel"%}
					Open Individual Export Licence
				{% elif case_type.reference == "sitl"%}
					Standard Individual Transhipment Licence
				{% elif case_type.reference == "sicl"%}
					Standard Individual Trade Control Licence
				{% elif case_type.reference == "oicl"%}
					Open Individual Trade Control Licence
				{% elif case_type.reference == "gift"%}
					Gifting clearance
				{% elif case_type.reference == "f680"%}
					MOD Form 680
				{% elif case_type.reference == "exhc"%}
					Exhibition clearance
				{% elif case_type.reference == "cre"%}
					Customs enquiry
				{% endif %}
			</td>
		<tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header">
				Type
			</th>
			<td class="govuk-table__cell">
				{% if case_type.reference in "siel,sitl,sicl" %}
					Standard Licence
				{% elif case_type.reference == "oiel" or case_type.reference == "oicl"%}
					Open Licence
				{% elif case_type.reference == "gift"%}
					MOD Gifting Clearance
				{% elif case_type.sub_type == "f680_clearance"%}
					MOD F680 Clearance
				{% elif case_type.reference == "exhc"%}
					MOD Exhibition Clearance
				{% elif case_type.reference == "cre"%}
					HMRC Query
				{% endif %}
			</td>
		</tr>
		{% if details.goodstype_category %}
			<tr class="govuk-table__row">
				<th scope="row" class="govuk-table__header">
					Type of open licence
				</th>
				<td class="govuk-table__cell">
					{{ details.goodstype_category }}
				</td>
			</tr>
		{% endif %}
		<tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header">
				Reference name
			</th>
			<td class="govuk-table__cell">
				{{ details.user_reference }}
			</td>
		</tr>
		{% if details.export_type %}
			<tr class="govuk-table__row">
				<th scope="row" class="govuk-table__header">
					Export type
				</th>
				<td class="govuk-table__cell">
					{{ details.export_type|title }}
				</td>
			</tr>
		{% endif %}
		{% if details.has_been_informed %}
			<tr class="govuk-table__row">
				<th scope="row" class="govuk-table__header">
					Have you received a letter or email from Border Force or HMRC informing you to apply for a licence?
				</th>
				<td class="govuk-table__cell">
					{{ details.has_been_informed|title }}.{% if details.reference_number_on_information_form%} Reference number: {{ details.reference_number_on_information_form }}
					{% endif %}
				</td>
			</tr>
		{% endif %}
		{% if case_type.reference == "sicl" or case_type.reference == "oicl" %}
			{% if details.trade_control_activity %}
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">
						Type of activity
					</th>
					<td class="govuk-table__cell">
						{% if details.trade_control_activity != "other" %}
							{{ details.trade_control_activity|remove_underscores|title }}
						{% else %}
							{{ details.trade_control_activity_other }}
						{% endif %}
					</td>
				</tr>
			{% endif %}
			{% if details.trade_control_product_categories %}
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">
						Product category
					</th>
					<td class="govuk-table__cell">
						{% for category in details.trade_control_product_categories %}
							{{ details.trade_control_product_categories|join:", "|remove_underscores|title }}
						{% endfor %}
					</td>
				</tr>
			{% endif %}
		{% endif %}
		{% if details.clearance_level %}
			<tr class="govuk-table__row">
				<th scope="row" class="govuk-table__header">
					Security grading
				</th>
				<td class="govuk-table__cell">
					{{ details.clearance_level }}
				</td>
			</tr>
		{% endif %}
		{% if details.clearance_types %}
			<tr class="govuk-table__row">
				<th scope="row" class="govuk-table__header">
					Clearance types
				</th>
				<td class="govuk-table__cell">
					{% for clearance_type in details.clearance_types %}
						<p>{{ clearance_type }}</p>
					{% endfor %}
				</td>
			</tr>
		{% endif %}
	</table>

	{% if case_type.reference == "cre" %}
		<h2 class="govuk-heading-m">Exporter</h2>
			<table class="govuk-table">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">
						{{ organisation.name }}
					</td>
				</tr>
			</table>
	{% endif %}

	{% if details.contains_firearm_goods %}
		<h2 class="govuk-heading-m">Products category</h2>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">#</th>
					<th scope="col" class="govuk-table__header">Description</th>
					<th scope="col" class="govuk-table__header">Answer</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell govuk-table__cell--line-number">1.</td>
						<td class="govuk-table__cell">Are any of the products on the application firearms?</td>
						<td class="govuk-table__cell">{{ details.contains_firearm_goods }}</td>
					</tr>
			</tbody>
		</table>
	{% endif %}

	{% if case_type.reference == "exhc" %}
		<h2 class="govuk-heading-m">Exhibition details</h2>
			<table class="govuk-table">
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">
						Title
					</th>
					<td class="govuk-table__cell">
						{{ details.exhibition_title }}
					</td>
				</tr>
				<tr>
					<th scope="row" class="govuk-table__header">
						Exhibition start date
					</th>
					<td class="govuk-table__cell">
						{{ details.first_exhibition_date }}
					</td>
				</tr>
				<tr>
					<th scope="row" class="govuk-table__header">
						Required by
					</th>
					<td class="govuk-table__cell">
						{{ details.required_by_date }}
					</td>
				</tr>
				<tr>
					<th scope="row" class="govuk-table__header">
						Reason for clearance
					</th>
					<td class="govuk-table__cell">
						{{ details.reason_for_clearance|default_na }}
					</td>
				</tr>
			</table>
	{% endif %}

	{% if goods %}
		<h2 class="govuk-heading-m">Products</h2>
		{% for good in goods.all %}
			<h2 class="govuk-heading-m"> {% exporter_lcs 'goods.GoodsDetailSummary.HEADING' %} {{ forloop.counter }} </h2>
			<dl class="govuk-summary-list" id="good-detail-summary{{ forloop.counter }}">
{#	goods without an item_category are on open applications, and therefore goodstypes, which allows us to split that logic out #}
				{% if not good.item_category%}
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							{% exporter_lcs "goods.GoodPage.Table.DESCRIPTION" %}
						</dt>
						<dd class="govuk-summary-list__value">
							{{ good.description }}
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							{% exporter_lcs 'goods.GoodsDetailSummary.CONTROLLED' %}
						</dt>
						<dd class="govuk-summary-list__value">
							{{ good.is_controlled }} - {{ good.control_list_entries|join:", "|default_na }}
						</dd>
					</div>

				{% else %}
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							{% exporter_lcs 'goods.GoodsDetailSummary.SELECT_CATEGORY' %}
						</dt>
						<dd class="govuk-summary-list__value">
							{{ good.item_category }}
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							{% exporter_lcs "goods.GoodPage.Table.DESCRIPTION" %}
						</dt>
						<dd class="govuk-summary-list__value">
							{{ good.description }}
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							{% exporter_lcs 'goods.GoodsDetailSummary.PART_NUMBER' %}
						</dt>
						<dd class="govuk-summary-list__value">
							{{ good.part_number|default_na }}
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							{% exporter_lcs 'goods.GoodsDetailSummary.CONTROLLED' %}
						</dt>
						<dd class="govuk-summary-list__value">
							{{ good.is_controlled }} - {{ good.control_list_entries|join:", "|default_na }}
						</dd>
					</div>

					{% if good.software_or_technology_details %}
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								{% exporter_lcs "goods.GoodsDetailSummary.PURPOSE_SOFTWARE_TECHNOLOGY" %}
							</dt>
							<dd class="govuk-summary-list__value">
								{{ good.software_or_technology_details|default_na }}
							</dd>
						</div>
					{% endif %}

					{% if good.is_military_use %}
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								{% exporter_lcs 'goods.GoodsDetailSummary.MILITARY' %}
							</dt>
							<dd class="govuk-summary-list__value">
								{{ good.is_military_use }}
								{% if good.modified_military_use_details %}
									<br>
									<span class="govuk-hint"> {{ good.modified_military_use_details }} </span>
								{% endif %}
							</dd>
						</div>
					{% endif %}

					{% if good.is_component %}
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								{% exporter_lcs 'goods.GoodsDetailSummary.COMPONENT' %}
							</dt>
							<dd class="govuk-summary-list__value">
								{{ good.is_component|default_na }}
								{% if good.component_details %}
									<br>
									<span class="govuk-hint"> {{ good.component_details }} </span>
								{% endif %}
							</dd>
						</div>
					{% endif %}

					{% if good.uses_information_security %}
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								{% exporter_lcs 'goods.GoodsDetailSummary.DESIGNED_FOR_INFORMATION_SECURITY' %}
							</dt>
							<dd class="govuk-summary-list__value">
								{{ good.uses_information_security }}
								{% if good.information_security_details %}
									<br>
									<span class="govuk-hint"> {{ good.information_security_details }} </span>
								{% endif %}
							</dd>
						</div>
					{% endif %}

					{% if good.firearm_type %}
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								{% exporter_lcs "goods.GoodsDetailSummary.FirearmDetails.PRODUCT_TYPE" %}
							</dt>
							<dd class="govuk-summary-list__value">
								{{ good.firearm_type|default_na }}
							</dd>
						</div>

						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								{% exporter_lcs "goods.GoodsDetailSummary.FirearmDetails.YEAR_OF_MANUFACTURE" %}
							</dt>
							<dd class="govuk-summary-list__value">
								{{ good.year_of_manufacture|default_na }}
							</dd>
						</div>

						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								{% exporter_lcs "goods.GoodsDetailSummary.FirearmDetails.CALIBRE" %}
							</dt>
							<dd class="govuk-summary-list__value">
								{{ good.calibre|default_na }}
							</dd>
						</div>

						{% if good.is_covered_by_firearm_act_section_one_two_or_five %}
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									{% exporter_lcs "goods.GoodsDetailSummary.FirearmDetails.COVERED_BY_THE_FIREARMS_ACT_1968" %}
								</dt>
								<dd class="govuk-summary-list__value">
									{% if good.is_covered_by_firearm_act_section_one_two_or_five %}
										{{ good.is_covered_by_firearm_act_section_one_two_or_five}}
										{% if good.is_covered_by_firearm_act_section_one_two_or_five %}
											- certificate number {{ good.section_certificate_number|default_na }} expires on
											{{ good.section_certificate_date_of_expiry }}
										{% endif %}
									{% endif %}
								</dd>
							</div>
						{% endif %}

						{% if good.has_identification_markings is not None %}
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									{% exporter_lcs "goods.GoodsDetailSummary.FirearmDetails.IDENTIFICATION_MARKINGS" %}
								</dt>
								<dd class="govuk-summary-list__value">
										{{ good.has_identification_markings }}
										<span class="govuk-hint">
										<br>
											{% if good.has_identification_markings %}
												{{ good.identification_markings_details|default_na }}
											{% else %}
												{{ good.no_identification_markings_details|default_na }}
											{% endif %}
										</span>
								</dd>
							</div>
						{% endif %}
					{% endif %}

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							{% exporter_lcs 'goods.GoodsDetailSummary.INCORPORATED' %}
						</dt>
						<dd class="govuk-summary-list__value">
							{{ good.is_incorporated|default_na }}
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							{% exporter_lcs 'goods.AddGoodToApplicationForm.Quantity.TITLE' %}
						</dt>
						<dd class="govuk-summary-list__value">
							{{ good.applied_for_quantity }}
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							{% exporter_lcs 'goods.AddGoodToApplicationForm.Value.TITLE' %}
						</dt>
						<dd class="govuk-summary-list__value">
							{{ good.applied_for_value|default_na }}
						</dd>
					</div>

				{% endif %}
			</dl>
		{% endfor %}
	{% endif %}

	{% if case_type.reference == "f680" %}
		<h2 class="govuk-heading-m">Additional information</h2>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">#</th>
					<th scope="col" class="govuk-table__header">Description</th>
					<th scope="col" class="govuk-table__header">Answer</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell govuk-table__cell--line-number">1.</td>
						<td class="govuk-table__cell">Has electronic warfare requirement</td>
						<td class="govuk-table__cell">{{ details.electronic_warfare_requirement }}</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell govuk-table__cell--line-number">2.</td>
						<td class="govuk-table__cell">Express clearance</td>
						<td class="govuk-table__cell">{{ details.expedited }}</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell govuk-table__cell--line-number">3.</td>
						<td class="govuk-table__cell">Expedited date</td>
						<td class="govuk-table__cell">{{ details.expedited_date }}</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell govuk-table__cell--line-number">4.</td>
						<td class="govuk-table__cell">Foreign technology</td>
						<td class="govuk-table__cell">{{ details.foreign_technology }}{% if details.foreign_technology %}, {{ details.foreign_technology_description }}
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell govuk-table__cell--line-number">5.</td>
						<td class="govuk-table__cell">Requires local manufacture or assembly</td>
						<td class="govuk-table__cell">{{ details.locally_manufactured }}{% if details.locally_manufactured_description %}, {{ details.locally_manufactured_description  }}
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell govuk-table__cell--line-number">6.</td>
						<td class="govuk-table__cell">MTCR type</td>
						<td class="govuk-table__cell">{{ details.mtcr_type }}</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell govuk-table__cell--line-number">7.</td>
						<td class="govuk-table__cell">In service or due in service (UK armed forces)</td>
						<td class="govuk-table__cell">{{ details.uk_service_equipment}}{% if details.uk_service_equipment_description  %}, {{ details.uk_service_equipment_description }}
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell govuk-table__cell--line-number">8.</td>
						<td class="govuk-table__cell">How funded</td>
						<td class="govuk-table__cell">{{ details.uk_service_equipment_type }}</td>
					</tr>
			</tbody>
		</table>
	{% endif %}

	{% if details.end_use_details %}
		<h2 class="govuk-heading-m">End use details</h2>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">#</th>
					<th scope="col" class="govuk-table__header">Description</th>
					<th scope="col" class="govuk-table__header">Answer</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell govuk-table__cell--line-number">1.</td>
						<td class="govuk-table__cell">Provide details of the intended end use of the products</td>
						<td class="govuk-table__cell">{{ details.end_use_details }}</td>
					</tr>
					{% if not case_type.reference == "f680" %}
						<tr class="govuk-table__row">
							<td class="govuk-table__cell govuk-table__cell--line-number">2.</td>
							<td class="govuk-table__cell">Have you received a letter from ECJU informing you that the products require a licence to export or are controlled under the military end use controls?</td>
							<td class="govuk-table__cell">{{ details.military_end_use_controls }}{% if details.military_end_use_controls_reference %}, {{ details.military_end_use_controls_reference }}
								{% endif %}
							</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell govuk-table__cell--line-number">3.</td>
							<td class="govuk-table__cell">Have you been informed by ECJU that the products are or may be intended, wholly or in part, for use in chemical, biological or nuclear weapons, or any purpose connected with missiles capable of delivering these weapons?</td>
							<td class="govuk-table__cell">{{ details.informed_wmd }}{% if details.informed_wmd_reference %}, {{ details.informed_wmd_reference}}
								{% endif %}
							</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell govuk-table__cell--line-number">4.</td>
							<td class="govuk-table__cell">Do you know or suspect that the products might be used, wholly or in part, in connection with chemical, biological or nuclear weapons, or any purpose connected with missiles capable of delivering these weapons?</td>
							<td class="govuk-table__cell">{{ details.suspected_wmd }}{% if details.suspected_wmd_reference %}, {{ details.suspected_wmd_reference }}
								{% endif %}
							</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell govuk-table__cell--line-number">5.</td>
							<td class="govuk-table__cell">Have you received European military products under a transfer licence from a European Union member state that have export limitations attached to them?</td>
							<td class="govuk-table__cell">{{ details.eu_military }}</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell govuk-table__cell--line-number">6.</td>
							<td class="govuk-table__cell">Have you complied with the terms of the export limitations attached to them? Or where appropriate, have you obtained the required consent from the originating EU member state?</td>
							<td class="govuk-table__cell">{{ details.compliant_limitations_eu }}{% if details.compliant_limitations_eu_reference  %}, {{ details.compliant_limitations_eu_reference }}
								{% endif %}
							</td>
						</tr>
					{% endif %}
			</tbody>
		</table>
	{% endif %}

	{% if details.shipped_waybill_or_lading %}
		<h2 class="govuk-heading-m">Route of products</h2>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">#</th>
					<th scope="col" class="govuk-table__header">Description</th>
					<th scope="col" class="govuk-table__header">Answer</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell govuk-table__cell--line-number">1.</td>
					<td class="govuk-table__cell">Are the products being shipped on an air waybill or bill of lading?</td>
					<td class="govuk-table__cell">{{ details.shipped_waybill_or_lading }}{% if details.non_waybill_or_lading_route_details  %}, {{ details.non_waybill_or_lading_route_details  }}</td>
						{% endif %}
				</tr>
			</tbody>
		</table>
	{% endif %}

	{% if temporary_export_details %}
		<h2 class="govuk-heading-m">Temporary export details</h2>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">#</th>
					<th scope="col" class="govuk-table__header">Description</th>
					<th scope="col" class="govuk-table__header">Answer</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell govuk-table__cell--line-number">1.</td>
					<td class="govuk-table__cell">Temporary export details</td>
					<td class="govuk-table__cell">{{ details.temporary_export_details.temp_export_details }}</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell govuk-table__cell--line-number">2.</td>
					<td class="govuk-table__cell">Products remaining under your direct control</td>
					<td class="govuk-table__cell">{{ details.temporary_export_details.is_temp_direct_control }}{% if details.temporary_export_details.is_temp_direct_control == "No" %}, {{ details.temporary_export_details.temp_direct_control_details }}
						{% endif %}
					</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell govuk-table__cell--line-number">3.</td>
					<td class="govuk-table__cell">Date products returning to the UK</td>
					<td class="govuk-table__cell">{{ details.temporary_export_details.proposed_return_date }}</td>
				</tr>
			</tbody>
		</table>
	{% endif %}

	{% if external_locations or sites or details.have_goods_departed == "Yes"%}
		{% if case_type.reference == "cre" %}
			<h2 class="govuk-heading-m">Where are the products located?</h2>
		{% else %}
			<h2 class="govuk-heading-m">Locations</h2>
		{% endif %}
		{% if details.have_goods_departed == "Yes" %}
			<table class="govuk-table">
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">
						Goods have left the UK
					</th>
					<td class="govuk-table__cell">
						{{ details.have_goods_departed }}
					</td>
				<tr>
			</table>
		{% else %}
			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">#</th>
						<th scope="col" class="govuk-table__header">Name</th>
						<th scope="col" class="govuk-table__header">Address</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
				{% if external_locations %}
					{% for location in external_locations %}
						<tr class="govuk-table__row">
							<td class="govuk-table__cell govuk-table__cell--line-number">{{ forloop.counter }}.</td>
							<td class="govuk-table__cell">{{ location.name }}</td>
							<td class="govuk-table__cell">{{ location.address }}{% if location.country %}, {{ location.country.name }}</td>
								{% endif %}
						</tr>
					{% endfor %}
				{% endif %}
				{% if sites %}
					{% for site in sites %}
						<tr class="govuk-table__row">
							<td class="govuk-table__cell govuk-table__cell--line-number">{{ forloop.counter }}.</td>
							<td class="govuk-table__cell">{{ site.name }}</td>
							{% if site.city and site.region and site.postcode %}
								<td class="govuk-table__cell">{{ site.address_line_1 }},{% if site.address_line_2 %}{{ site.address_line_2 }},{% endif %}{{ site.city }}, {{ site.region }}, {{ site.postcode }}
							{% else %}
								<td class="govuk-table__cell">{{ site.address_line_1 }}, {{ site.country.name }}
							{% endif %}
						</tr>
					{% endfor %}
				{% endif %}
				</tbody>
			</table>
		{% endif %}
	{% endif %}

	{% if end_user or case_type.reference == "oicl" %}
		<h2 class="govuk-heading-m">End user</h2>
		{% if not end_user %}
			<p class="govuk-hint">No information added to this section.</p>
		{% else %}
			<table class="govuk-table">
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">
						Name
					</th>
					<td class="govuk-table__cell">
						{{ end_user.name }}
					</td>
				</tr>
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">
						Type
					</th>
					<td class="govuk-table__cell">
						{{ end_user.type|title }}
					</td>
				</tr>

				{% if case_type.reference == "f680" %}
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">
							Clearance level
						</th>
						<td class="govuk-table__cell">
							{{ end_user.clearance_level }}
						</td>
						<th scope="row" class="govuk-table__header">
							Descriptors
						</th>
						<td class="govuk-table__cell">
							{{ end_user.descriptors }}
						</td>
					</tr>
				{% endif %}
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">
						Address
					</th>
					<td class="govuk-table__cell">
						{{ end_user.address }}, {{ end_user.country.name }}
					</td>
				</tr>
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">
						Website
					</th>
					<td class="govuk-table__cell">
						{{ end_user.website|default_na }}
					</td>
				</tr>
			</table>
		{% endif %}
	{% endif %}

	{% if ultimate_end_users %}
		<h2 class="govuk-heading-m">Ultimate Recipient</h2>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">#</th>
					<th scope="col" class="govuk-table__header">Name</th>
					<th scope="col" class="govuk-table__header">Type</th>
					<th scope="col" class="govuk-table__header">Address</th>
					<th scope="col" class="govuk-table__header">Website</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
			{% for ultimate_end_user in ultimate_end_users %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell govuk-table__cell--line-number">{{ forloop.counter }}.</td>
					<td class="govuk-table__cell">{{ ultimate_end_user.name }}</td>
					<td class="govuk-table__cell">{{ ultimate_end_user.type|title }}</td>
					<td class="govuk-table__cell">{{ ultimate_end_user.address }}, {{ ultimate_end_user.country.name }}</td>
					<td class="govuk-table__cell">{{ ultimate_end_user.website|default_na }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% elif case_type.reference == "cre" and not ultimate_end_users %}
		<h2 class="govuk-heading-m">Ultimate Recipient</h2>
		<p class="govuk-hint">No information added to this section.</p>
	{% endif %}

	{% if destinations %}
		<h2 class="govuk-heading-m">Destinations</h2>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">#</th>
					<th scope="col" class="govuk-table__header">Name</th>
					{% if destination.contract_types %}
						<th scope="col" class="govuk-table__header">Contract type</th>
					{% endif %}
				</tr>
			</thead>
			<tbody class="govuk-table__body">
			{% for destination in destinations %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell govuk-table__cell--line-number">{{ forloop.counter }}.</td>
					<td class="govuk-table__cell">{{ destination.country.name }}</td>
					<td class="govuk-table__cell">{% if destination.contract_types %}{{ destination.contract_types|join:", "|remove_underscores|title }}{% endif %}{% if destination.other_contract_type %} - {{ destination.other_contract_type }}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}

	{% if consignee %}
		<h2 class="govuk-heading-m">Consignee</h2>
		<table class="govuk-table">
			<tr class="govuk-table__row">
				<th scope="row" class="govuk-table__header">
					Name
				</th>
				<td class="govuk-table__cell">
					{{ consignee.name }}
				</td>
			</tr>
			<tr scope="row" class="govuk-table__row">
				<th scope="row" class="govuk-table__header">
					Type
				</th>
				<td class="govuk-table__cell">
					{{ consignee.type|title }}
				</td>
			</tr>
			<tr scope="row" class="govuk-table__row">
				<th scope="row" class="govuk-table__header">
					Address
				</th>
				<td class="govuk-table__cell">
					{{ consignee.address }}, {{ consignee.country.name }}
				</td>
			</tr>
			<tr scope="row" class="govuk-table__row">
				<th scope="row" class="govuk-table__header">
					Website
				</th>
				<td class="govuk-table__cell">
					{{ consignee.website|default_na }}
				</td>
			</tr>
		</table>
	{% elif case_type.reference == "cre" and not consignee %}
		<h2 class="govuk-heading-m">Consignee</h2>
		<p class="govuk-hint">No information added to this section.</p>
	{% endif %}

	{% if case_type.reference == "siel" or case_type.reference == "sitl" or case_type.reference == "sicl" or case_type.reference == "gift" or case_type.reference == "f680" or case_type.reference == "cre"%}
		<h2 class="govuk-heading-m">Third parties</h2>
		{% if not third_parties %}
			<p class="govuk-hint">No information added to this section.</p>
		{% else %}
			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">#</th>
						<th scope="col" class="govuk-table__header">Name</th>
						<th scope="col" class="govuk-table__header">Type</th>
						{% if case_type.reference == "f680" %}
							<th scope="col" class="govuk-table__header">Clearance level</th>
						{% endif %}
						<th scope="col" class="govuk-table__header">Descriptors</th>
						<th scope="col" class="govuk-table__header">Address</th>
						<th scope="col" class="govuk-table__header">Website</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
				{% for third_party in third_parties.all %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell govuk-table__cell--line-number">{{ forloop.counter }}.</td>
						<td class="govuk-table__cell">{{ third_party.name }}</td>
						<td class="govuk-table__cell">{{ third_party.type|title }}</td>
						{% if case_type.reference == "f680" %}
							<td class="govuk-table__cell">{{ third_party.clearance_level }}</td>
						{% endif %}
						<td class="govuk-table__cell">{{ third_party.descriptors }}</td>
						<td class="govuk-table__cell">{{ third_party.address }}, {{ third_party.country.name }}</td>
						<td class="govuk-table__cell">{{ third_party.website|default_na }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		{% endif %}
	{% endif %}

	<h2 class="govuk-heading-m">Supporting documents</h2>
	{% if not documents %}
		<p class="govuk-hint">No information added to this section.</p>
	{% else %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">#</th>
					<th scope="col" class="govuk-table__header">File name</th>
					<th scope="col" class="govuk-table__header">Description</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
			{% for document in documents %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell govuk-table__cell--line-number">{{ forloop.counter }}.</td>
					<td class="govuk-table__cell">{{ document.name }}</td>
					<td class="govuk-table__cell">{{ document.description|default_na }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}

	{% if case_type.reference == "cre" %}
		<h2 class="govuk-heading-m">Explain the reason behind your query</h2>
	{% else %}
		<h2 class="govuk-heading-m">Notes</h2>
	{% endif %}
	{% if case_type.reference != "cre" and not notes or case_type.reference == "cre" and not details.query_reason %}
		<p class="govuk-hint">No information added to this section.</p>
	{% elif details.query_reason %}
		<table class="govuk-table">
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">
					{{ details.query_reason }}
				</td>
			</tr>
		</table>
	{% else %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">#</th>
					<th scope="col" class="govuk-table__header">User</th>
					<th scope="col" class="govuk-table__header">Note</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
			{% for note in notes %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell govuk-table__cell--line-number">{{ forloop.counter }}.</td>
					<td class="govuk-table__cell">{{ note.user }}</td>
					<td class="govuk-table__cell">{{ note.text }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}
</div>
