version: 2.1

orbs:
  jq: circleci/jq@1.8.0

jobs:
  tests:
    docker:
      - image: circleci/python:3.7
      - image: circleci/postgres:11
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
      - image: docker.elastic.co/elasticsearch/elasticsearch:7.10.1
        environment:
          ES_JAVA_OPTS: "-Xmx256m -Xms256m"
          xpack.security.enabled: "false"
          xpack.monitoring.enabled: "false"
          xpack.graph.enabled: "false"
          xpack.watcher.enabled: "false"
          transport.host: "localhost"

    working_directory: ~/lite-api

    environment:
      LITE_API_ENABLE_ES: True
      ELASTICSEARCH_HOST: http://localhost:9200
      ENABLE_SPIRE_SEARCH: True

    steps:
      - checkout
      - run:
          name: Git Submodule Checkout
          command: |
            git submodule sync
            git submodule update --init

      - run:
          name: Repository Vulnerability Check
          command: |
            VULNERABILITY_COUNT=`curl -s -u "lite-cicircle:${CICIRCLE_PERSONAL_ACCESS_TOKEN}" \
              -X POST -H "Content-Type: application/json" \
              -H "Accept: application/vnd.github.vixen-preview+json" \
              -d '{"query": "query { repository(owner:\"uktrade\" name:\"lite-api\") { vulnerabilityAlerts(first: 100) { totalCount } } }"}' \
              https://api.github.com/graphql | jq ".data.repository.vulnerabilityAlerts.totalCount"`
            if [ "$VULNERABILITY_COUNT" = "0" ]; then
              echo "No vulnerabilities found"
            elif [ "$VULNERABILITY_COUNT" = "null" ]; then
              echo "Vulnerability check query returned unexpected JSON - bad credentials? Check JSON response for details"
            else
              echo "Vulnerabilities found: $VULNERABILITY_COUNT. Check GitHub security tab for details (only visible to admin users)"
            fi
            exit $VULNERABILITY_COUNT

      # Download and cache dependencies
      # ensure this step occurs *before* installing dependencies
      - restore_cache:
          key: dependencies-v1-{{ .Branch }}-{{ checksum "Pipfile.lock" }}

      - run:
          name: Install OS libraries
          command: sudo apt-get install swig;

      - run:
          name: Install Dependencies
          command: pipenv sync --dev

      - save_cache:
          paths:
            - ./venv
          key: dependencies-v1-{{ .Branch }}-{{ checksum "Pipfile.lock" }}

      - run:
          name: Check migrations are made
          command: pipenv run ./manage.py makemigrations --check

      - run:
          name: Run seeding tests
          command: pipenv run ./manage.py test --tag=seeding
      - store_test_results:
          path: seed-test-results

      - run:
          name: Setup Code Climate test-reporter
          command: |
            # download test reporter as a static binary
              curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
              chmod +x ./cc-test-reporter
              ./cc-test-reporter before-build

      - run:
          name: Run tests
          command: pipenv run coverage run --source="." ./manage.py test --parallel 8 --exclude-tag=seeding --exclude-tag=performance

      - store_test_results:
          path: test-results

      - run:
          name: Upload coverage
          command: |
            pipenv run coverage xml
            ./cc-test-reporter after-build --coverage-input-type coverage.py

      - run:
          name: Run Bandit tests
          command: |
            pipenv run bandit -r .

  linting:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout

      - run:
          name: Git Submodule Checkout
          command: |
            git submodule sync
            git submodule update --init

      - restore_cache:
          key: dependencies-{{ .Branch }}-{{ checksum "Pipfile.lock" }}

      - run:
          name: Install OS libraries
          command: sudo apt-get install swig;

      - run:
          name: Install Dependencies
          command: pipenv sync --dev

      - save_cache:
          paths:
            - ./venv
          key: dependencies-{{ .Branch }}-{{ checksum "Pipfile.lock" }}

      - run:
          name: Prospector
          command: pipenv run prospector -W pylint -W pep257 -W mccabe

      - run:
          name: Black
          command: pipenv run black . --check --diff

workflows:
  version: 2
  test:
    jobs:
      - tests
      - linting
