@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.ttf") format("truetype");
  }
  .document * {
    font-size: 4mm;
    line-height: 1.3;
    font-family: Helvetica;
    word-wrap: break-word;
  }
  .document #addresses {
    display: flex;
    flex-direction: row;
  }
  .document #recipient-address {
    width: 90mm;
  }
  .document #sender-address {
    width: 70mm;
  }
  .document #references {
    display: inline-block;
    margin-bottom: 20px;
  }
  .document table {
    border-collapse: collapse;
    width: 100%;
    page-break-inside: avoid;
    page-break-before: auto;
  }
  .document td {
    vertical-align: top;
    border: 1px solid #6d6d6d;
    padding: 2mm;
  }
  .document td:first-of-type {
    width: 45mm;
  }
  .document th {
    vertical-align: top;
    border: 1px solid #6d6d6d;
    padding: 2mm;
  }
  .document h1 {
    font-size: 5mm;
  }
  .document .header {
    display: flex;
    flex-direction: row;
  }
  .document .header .header-1 img {
    width: 200px;
    aspect-ratio: auto;
    display: block;
  }
  .document .header .header-1 {
    flex-basis: 250px;
  }
  .document .header .header-2 {
    flex-basis: 200px;
  }
  .document .header .header-1 div.addressee {
    margin-top: 50px;
  }
  .document .header .header-subtext * {
    font-size: 3mm;
  }
  .document .header .header-subtext p {
    margin-top: 70px;
  }
  .document div#paragraph_content {
    margin-top: 50px;
  }
