.document {
  * {
    font-size: 12px;
    font-family: Helvetica, Arial, "Liberation Sans", sans-serif;
    word-wrap: break-word;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td {
    vertical-align: top;
    margin: 0;
    padding: 5px;
  }
  table.fixed-layout {
    table-layout: fixed;
  }
  table.fixed-layout tr.set-width-hack td {
    width: 8.33%; /* 100% / 12 */
    height: 0;
    padding: 0;
  }
  .border-black {
    border: 1px solid black;
  }
  .border-top-black {
    border-top: 1px solid black;
  }
  .border-bottom-black {
    border-bottom: 1px solid black;
  }
  .border-left-black {
    border-left: 1px solid black;
  }
  .border-right-black {
    border-right: 1px solid black;
  }
  .cell__heading {
    display: block;
    font-style: italic;
    margin-bottom: 5px;
  }
  .cell__uppercase {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
  }
  .cell__subheading {
    display: block;
    text-decoration: underline;
    margin-bottom: 5px;
  }
  .cell__body {
    display: block;
    margin-bottom: 5px;
  }
  .padding-none {
    padding: 0;
  }
  .text-large {
    font-size: 18px;
  }
  .align-centre {
    text-align: center;
  }
  .rotate {
    transform: rotate(-90deg);
    white-space: nowrap;
  }
  .uppercase {
    text-transform: uppercase;
  }
  .sidebar-cell {
    padding: 100px 0;
  }
  .bold {
    font-weight: bold;
  }
  .italic {
    font-style: italic;
  }
  .page-break-after {
    page-break-after: always;
  }
  .padding {
    padding: 5mm;
  }
}
